<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= @user.name %>
      </h1>
      <div class="user-image">
        <%= @user.avatar? ? image_tag(@user.avatar, size: Settings.avatar_size)
          : link_to(t("user.no_avatar"), edit_user_path(@user)) %>
      </div>
    </section>
    <section class="user-stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if logged_in? %>
      <% if current_user? @user %>
        <div class="row">
          <div class="user-button col-md-3 col-md-offset-3">
            <%= button_to words_path, class: "btn btn-lg btn-default",
              method: :get do %>
              <%= t "user.words_list" %>
            <% end %>
          </div>
          <div class= "user-button col-md-3">
            <%= button_to categories_path, class: "btn btn-lg btn-default", method: :get do %>
              <%= t "user.categories" %>
            <% end %>
          </div>
        </div>
        <div class="user-activities">
          <h1><%= t "user.activities" %></h1>
          <ol class="activities">
            <%= render @feed_items %>
          </ol>
          <%= will_paginate @feed_items %>
        </div>
      <% elsif @option.present? %>
        <%= render "show_follow" %>
      <% else %>
        <%= render "shared/follow_form" %>
      <% end %>
    <% end %>
  </div>
</div>
