<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= "#{t "lesson.score" }: #{@lesson.result}/#{@lesson.total}" %></h1>
    <div class="row">
      <div class="col-md-2"><%= t "lesson.word" %></div>
      <div class="col-md-2"><%= t "lesson.correct" %></div>
      <div class="col-md-2"><%= t "lesson.answer" %></div>
      <div class="col-md-2"><%= t "lesson.result" %></div>
    </div>
    <% @lesson.lesson_words.each do |lesson_word| %>
      <div class="row">
        <div class="col-md-2"><%= lesson_word.word.content %></div>
        <div class="col-md-2">
          <%= correct_answer lesson_word.word %>
        </div>
        <div class="col-md-2">
          <% if lesson_word.word_answer.present? %>
            <%= lesson_word.word_answer.content %>
          <% end %>
        </div>
        <div class="col-md-2">
          <% if lesson_word.word_answer.blank? || !lesson_word.word_answer.correct %>
          <span class="label label-danger"><%= t "lesson.wrong" %></span>
          <% else %>
          <span class="label label-success">
            <%= t "lesson.correct" %>
          </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
