<li id="category-<%= category.id %>">
  <%= image_tag category.image,
    width: Settings.category.image_mini_width,
    height: Settings.category.image_mini_height %>
  <span class="name">
    <%= link_to category.name, [:admin, category] %>
    <%= "( #{pluralize(category.words.count, t("word.singular"))} )" %>
  </span>
  <span class="title">
    <strong>
      <aside><%= category.title %></aside>
    </strong>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words category.created_at %>
  </span>
</li>
