<li id="category-<%= category.id %>">
  <%= image_category category,
    width: Settings.category.image_mini_width,
    height: Settings.category.image_mini_height %>
  <span class="name">
    <%= link_to category.name, [:admin, category] %>
    <% if admin_user? %>
      <%= link_to t("delete"), [:admin, category],
        method: :delete, data: {confirm: t("sure?")} %>
      | <%= link_to t("edit"), [:admin, category] %>
      | <%= link_to t("category.new"), new_admin_word_path(
        category_id: category.id) %>
    <% end %>
  </span>
  <span class="title">
    <strong>
      <aside><%= category.title %></aside>
    </strong>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words category.created_at %>
  </span>
</li>
