<footer class="footer">
  <small>
    <%= t "the" %><a href="#"><%= t "application_name" %></a>
    <%= t "by" %><a href="#"><%= t "framgia" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), "#" %></li>
      <li><%= link_to t("contact"), "#" %></li>
    </ul>
  </nav>
</footer>
